*{
    font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;
}
body{    
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 63px;
}
.burger{
    background-color: transparent;
    place-items: center;
    padding: 3px;
    margin-right: 5px;
    display: none;
    border-radius: 5px;
    cursor: pointer;
}
.line{
    height: 3px;
    width: 20px;
    margin: 4px;
    background-color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 2vh;
}
.background{
    background: rgba(0, 0, 0, 0.7) url(../img/858.webp);
    background-blend-mode: darken;
    background-size: cover;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
li{
    margin: 5px;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: #35c1f1;
    text-decoration: none;
    transition: 0.7s;
}
.logo{
    margin: 8px;
}
.btns{
    margin: 8px;
}
.btn{
    background-color: white;
    padding: 5px 16px;
    border-radius: 5px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btn:disabled{
    opacity: 0.5;
}
.btn:disabled:active{
    opacity: 0.5;
    background-color: white;
    padding: 5px 16px;
    border-radius: 5px;
    font-size: 0.9rem;
    border: none;
}
.btn:active{
    background-color: white;
    padding: 5px 16px;
    border-radius: 5px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transform: scale(1.05);
}
.hero{
    margin: 0;
    color: white;
    padding: 10vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.section-2{
    margin: 0;
    color: white;
    padding: 10vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #152728;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.width{
    width: 40%;
    padding: 6px 16px;
    border-radius: 5px;
    outline: none;
    color: black;
    border: none;
    margin: 3px;
}
.info{
    padding: 6px 16px;
    border-radius: 5px;
    outline: none;
    color: white;
    border: 1px solid white;
    margin: 5px;
    background-color: transparent;
}
.lg{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 10px;
    border: none;
}
.lg:active{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 10px;
    border: none;
    transform: none;
}
.mb-5{
    margin-bottom: 5px;
}
.mt-5{
    margin-top: 5px;
}
.m-5{
    margin: 5px;
}
.contact{
    margin: 0;
    color: white;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    resize: vertical;
    background-color: #152728;
}
.opaque{
    margin: 0;
    color: white;
    padding: 5vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
    border: 2px solid white;
}
.b23{
    height: 60vh;
}
.item{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #303535;
    margin: auto;
    margin-bottom: 10px;
    width: 70vw;
}
.rev{
    flex-wrap: wrap-reverse;
}
@media(max-width:450px){
    header{
        transition: height 0.2s ;
    }
    .h{
        height: 302px;
    }
    .burger{
        display: block;
    }
    ul, .btns{
        display: none;
    }
    .viz{
        display: none;
    }
    .col{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}